body {
  background: #eef3ee;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.profile-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.profile-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#email,
#created-at {
  margin-top: 10px;
  color: #666;
}

button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
}
