* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef3ee;
  font-family: "Pretendard", sans-serif;
  color: #111;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* 헤더 */
header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-weight: 500;
}

.auth {
  font-size: 20px;
  cursor: pointer;
}

/* 섹션 */
section {
  margin-top: 40px;
}

h2 {
  font-size: 34px;
  margin-bottom: 30px;
  font-weight: 500;
}

/* 내가 가입한 카페 */
.joined-box {
  width: 100%;
  min-height: 140px;

  display: flex;
  gap: 20px;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 20px;

  background: #ddd;
  border-radius: 20px;
}

/* 카페 카드 */

.joined-empty {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

.joined-cafe-card {
  min-width: 250px;
  height: 100px;

  background: white;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 18px;
  font-weight: 500;

  flex-shrink: 0;
  cursor: pointer;
}

/* 카페 목록 */
.cafe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cafe-card {
  background: #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}

.cafe-card:hover {
  transform: translateY(-5px);
}

.cafe-image {
  height: 220px;
  background: #d9d9d9;
}

.cafe-info {
  padding: 15px;
}

.cafe-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.cafe-desc {
  font-size: 16px;
  color: #444;
}

a {
  text-decoration: none;
  color: black;
}

.joined-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-cafe {
  cursor: pointer;
}

.cafe-owner {
  margin-top: 8px;
  font-size: 13px;
  color: #777;
}
